@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  text-decoration: none;
}
body {
  min-height: 100vh;
}
/* TOPBAR========================================================================================================= */
.topbar {
  width: 100%;
  min-height: 2.224rem;
  color: #000;
  background: #eff0f5;
}
.topbar h5 {
  padding-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  padding-left: 1rem;
}
/* HEADER========================================================================================================= */
header {
  width: 100%;
  height: 5.625rem;
  padding: 0 11rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

header div .logo-img {
  margin-right: 0.7rem;
  height: 36px;
  width: 36px;
}
header div .logo {
  color: #00beff;
  font-size: 2em;
  margin-bottom: 2px;
}
header div .search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.search-bar .search form input[type="text"] {
  background-color: #fff;
  border: 1px solid #eceef3;
  width: 339px;
  height: 38px;
  border-radius: 19px;
  color: #eceef3;
  padding-left: 25px;
  font-size: 14px;
}
input::placeholder {
  color: #757575;
}
input:focus {
  outline: none;
}
.button-search {
  width: 36px;
  height: 36px;
  margin-left: -36px;
  background-color: #00beff;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
.icons {
  margin-left: 82px;
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}
.icons a {
  margin-left: 1.8rem;
}
.icons span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-left: 1rem;
}
.menuToggle {
  display: none;
}
/* NAVBAR-MENU========================================================================================================= */
.navbar {
  background: #eff0f5;
  width: 100%;
  min-height: 54.89px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.navbar ul {
  position: relative;
  padding-right: 13rem;
}

.navbar ul li {
  position: relative;
  list-style: none;
  float: left;
}

.navbar ul li a {
  padding-right: 2rem;
  padding-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li a b .arrow {
  font-size: 8px;
  margin-left: 0.5rem;

  display: initial;
}
.navbar ul li a b .arrow-mobile {
  display: none;
}
.navbar ul li a:hover {
  color: #00beff;
}

.navbar ul li ul {
  position: absolute;
  left: 0;
  width: 205px;
  margin: 1rem 0;
  padding-bottom: 1rem;
  background: #fff;
  border: 1px solid #eff0f5;
  display: none;
}

.navbar ul li:hover ul {
  display: block;
}

.navbar ul li ul li {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar ul li ul li:first-child {
  padding: 0;
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
  margin-left: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.navbar ul li ul li a {
  margin-left: 2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding-right: 0;
  padding-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.navbar ul li .sale {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  background: #ff6584;
  margin: 0.6rem 0.5rem 0.5rem 0.5rem;
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
}
.search-mobile {
  display: none;
}
.icons-mobile {
  display: none;
}
/* SLIDER========================================================================================================= */
.slider {
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .slider-one-desktop {
}
.slider .slider-one-mobile {
  display: none;
}

/* BENEFITS========================================================================================================= */
.benefits {
  width: 100%;
  background: #00beff;
}
.benefits div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 1rem;
}
.benefits div span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem;
  padding: 1rem 0;
}
.benefits div span .benefit-img {
  padding-right: 1rem;
}
.benefits div span h4 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
/* SLIDER-PRODUCTS========================================================================================================= */
.products {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
}
.products .slick-products {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
}
.products .slick-products .product {
  min-width: 293px;
}
.products .slick-products .product .product-img {
  width: 229px;
  height: 229px;
}
.products .slick-products .product h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 229px;
  margin-top: 0.6rem;
  line-height: 16.9px;
  height: 52px;
}
.products .slick-products .product div {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 242px;
}
.products .slick-products .product div div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.products .slick-products .product div div h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.products .slick-products .product div div h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #989898;
  text-decoration: line-through;
}
.products .slick-products .product div div:nth-child(2) {
  background: #00beff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.9rem;
}
.products .slick-products .product div div a .product-basket {
  width: 20px;
  color: #fff;
}
/* BANNERS========================================================================================================= */
.banners {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.banners div {
  position: relative;
  margin-left: 1rem;
}
.banners div .banner-img {
  position: relative;
}
.banners div h1 {
  position: absolute;
  color: #fff;
  bottom: 1.25rem;
  right: 1.5rem;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
/* SPECIAL========================================================================================================= */
.special {
  width: 100%;
  padding: 3.6rem 0;
}
.special h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-left: 1rem;
}
.special div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  margin-left: 1rem;
}
.special div a .first {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #00beff;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 4rem;
  margin: 0 1rem;
}
.special div a .second {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #00beff;
  border: none;
  border-radius: 20px;
  padding: 0.6rem 2rem;
  margin: 0 1rem;
}
/* BLOG========================================================================================================= */
.blog {
  display: block;
  width: 100%;
  background-color: #eff0f5;
  padding: 5rem 0;
}
.blog h1 {
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.blog p {
  margin-top: 0.5rem;
  margin-left: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.blog div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.4rem;
  margin-left: 1rem;
}
.blog div .post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0.7rem;
}
.blog div .post h4 {
  margin-top: 0.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.blog div .post h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
/* NEWSLETTER========================================================================================================= */
.newsletter {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  justify-content: space-between;
}
.newsletter div .newsletter-img {
  padding-left: 7.4rem;
  display: block;
}
.newsletter .form-newsletter {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-right: 2rem;
}
.newsletter .form-newsletter .newsletter-title-desktop {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 45px;
  margin-top: 4.5rem;
  display: block;
}
.newsletter .form-newsletter .newsletter-title-mobile {
  display: none;
}
.newsletter .form-newsletter h6 {
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 20.8px;
}
.newsletter .form-newsletter form {
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
  max-width: 710.59px;
}
.newsletter .form-newsletter form input[type="text"] {
  background-color: #fff;
  border: 1px solid #eceef3;
  width: 100%;
  height: 38px;
  border-radius: 19px;
  color: #eceef3;
  padding-left: 25px;
  font-size: 14px;
}
.newsletter .form-newsletter form input::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.newsletter .form-newsletter form .form-checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  justify-content: flex-starts;
  align-items: flex-start;
}
.newsletter .form-newsletter form .form-checkbox #submit {
  border: 1px solid #dedede;
  border-radius: 0px;
}
.newsletter .form-newsletter form .form-checkbox .newsletter-label-desktop {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.6px;
  margin-left: 1rem;
  margin-right: 5rem;
  display: block;
}
.newsletter .form-newsletter form .form-checkbox .newsletter-label-mobile {
  display: none;
}
.btn-submit {
  width: 272.23px;
  background-color: #4e4b66;
  padding: 0.5rem 0;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 1.8rem;
}
/* FOOTER========================================================================================================= */
.footer {
  background-color: #4e4b66;
  color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2.3rem;
}
.footer .logo-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 5rem;
}

.footer .logo-footer div {
  display: flex;
  flex-direction: row;
}
.footer .logo-footer div h2 {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 32px;
  margin-left: 0.6rem;
}
.footer .logo-footer div span {
  font-size: 23px;
}
.footer .dropdown {
  display: flex;
  flex-direction: column;
  margin: 0 1.8rem;
}
/* .footer div:last-child {
  margin: 0 2rem;
} */
.footer .dropdown span {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.footer .dropdown span i {
  font-size: 20px;
  margin-right: 1rem;
}
.footer .dropdown ul li {
  position: relative;
  list-style: none;
}
.footer .dropdown ul li a {
  color: #fff;
}
.footer .dropdown h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 15.4px;
  padding-bottom: 0.6rem;
}
.footer .dropdown ul li a h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 15.4px;
  padding-bottom: 0.6rem;
}
.footer .dropdown h5 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 0.65rem;
  margin-bottom: 2rem;
}
.footer .dropdown ul li a h5 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 15.4px;
  margin: 0.95rem 0;
}
@media (max-width: 1200px) {
  /* TOPBAR========================================================================================================= */
  .topbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topbar h5 {
    width: 13rem;
    font-size: 13px;
    padding-left: 0;
    padding-top: 0.4rem;
  }
  /* HEADER========================================================================================================= */
  header {
    padding-left: 15px;
    padding-right: 0;
    border: 1px solid #eff0f5;
    height: 4.9rem;
    justify-content: space-between;
  }
  header div .logo-img {
    margin-right: 0.5rem;
    height: 25px;
    width: 25px;
  }
  header div .logo {
    color: #00beff;
    font-size: 1.7em;
  }
  .search-bar .search form input[type="text"] {
    display: none;
  }
  .icons {
    margin-left: 1rem;
  }
  .icons a:nth-child(3) {
    margin: 0;
  }
  .icons a:nth-child(1),
  .icons a:nth-child(2),
  .icons span {
    display: none;
  }
  /*NAVBAR-MENU=========================================================================================================
    */
  .navbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    padding: 0;
    height: 100%;
    background: white;
  }
  .navbar.active {
    display: initial;
  }
  .navbar ul {
    margin-left: 3.5rem;
  }
  .navbar ul li {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #eff0f5;
    border-left: 1px solid #eff0f5;
    color: #00beff;
  }
  .navbar ul li .sale {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #eff0f5;
    border-left: 1px solid #eff0f5;
    color: #00beff;
    font-weight: 400;
    border: none;
    margin: 0 1.5rem;
    padding: 1.15rem 0;
  }
  .navbar ul li a {
    padding: 1.15rem 0;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    color: #00beff;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
  }
  .navbar ul li a b .arrow {
    display: none;
  }
  .navbar ul li a b .arrow-mobile {
    display: initial;
    font-size: 16px;
  }
  .navbar ul li ul {
    position: relative;
    width: 100%;
    left: 0;
  }
  .navbar ul li .search-mobile {
    display: initial;
    padding: 1.15rem 0;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
  }

  .navbar ul li .search-mobile form input[type="text"] {
    background-color: #fff;
    border: 1px solid #eceef3;
    width: 283px;
    height: 38px;
    color: #eceef3;
    padding-left: 0.5rem;
    margin-left: 1.5rem;
    font-size: 14px;
  }
  .button-search-mobile {
    width: 42px;
    height: 42px;
    margin-left: -42px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000;
  }
  .icons-mobile {
    display: initial;
  }
  .navbar ul .icons-mobile a {
    color: #000;
    float: left;
  }
  .navbar ul .icons-mobile a span {
    color: #000;
    margin-right: 1rem;
  }
  .menuToggle {
    position: relative;
    font-size: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.8rem;
    margin-right: 1rem;
  }
  .menuToggle.active {
    position: absolute;
    top: 72px;
    left: 0;
    font-size: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    z-index: 1000;
  }

  /* SLIDER========================================================================================================= */
  .slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2.6rem;
  }
  .slider .slider-one-desktop {
    display: none;
  }
  .slider .slider-one-mobile {
    display: initial;
  }
  /* BENEFITS========================================================================================================= */
  .benefits div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .benefits div span {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0.4rem 0;
    padding: 0;
    text-align: center;
  }
  .benefits div span .benefit-img {
    padding-right: 0;
    padding-bottom: 0.3rem;
    padding-top: 0.1rem;
  }
  .benefits div span h4 {
    width: 80%;
  }
  /* SLIDER-PRODUCTS========================================================================================================= */
  .products h1 {
    font-size: 25px;
    margin-top: 2.1rem;
    margin-bottom: 2.5rem;
    margin-left: 0;
  }
  .products .slick-products {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
  }
  .products .slick-products .product {
    min-width: 215px;
    height: 368px;
  }
  .products .slick-products .product .product-img {
    width: 180px;
    height: 180px;
  }
  /* BANNERS========================================================================================================= */
  .banners {
    flex-direction: column;
    margin-top: 1rem;
    background-color: #eff0f5;
    padding: 1rem 0;
  }
  .banners div {
    margin-left: 0;
    margin-top: 1.1rem;
  }
  .banners div img {
    width: 100%;
    height: 260px;
  }
  /* SPECIAL========================================================================================================= */
  .special {
    padding-top: 1rem;
    background-color: #eff0f5;
  }
  .special h2 {
    font-size: 20px;
    margin: 0 4rem;
    line-height: 25px;
  }
  .special div {
    flex-direction: column;
    margin: 0.7rem 0;
  }
  .special div a .first {
    font-size: 14px;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
  }
  .special div a .second {
    font-size: 14px;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
  }
  /* BLOG========================================================================================================= */
  .blog {
    display: block;
    width: 100%;
    background-color: #eff0f5;
    padding: 0.2rem 0 0.4rem 0;
  }
  .blog h1 {
    margin-left: 0;
    font-size: 25px;
  }
  .blog p {
    margin-left: 0;
  }
  .blog div {
    flex-direction: column;
    margin-top: 1.4rem;
    margin-left: 0;
  }

  .blog div .post {
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .blog div .post img {
    width: 345px;
    height: 230px;
  }
  .blog div .post h3 {
    margin: 0.4rem 3.5rem 1.1rem 3rem;
    text-align: center;
  }
  /* NEWSLETTER========================================================================================================= */
  .newsletter {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
    padding-bottom: 3.3rem;
  }
  .newsletter div .newsletter-img {
    padding: 0;
    display: none;
  }
  .newsletter .form-newsletter {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-right: 0;
  }
  .newsletter .form-newsletter .newsletter-title-desktop {
    display: none;
  }
  .newsletter .form-newsletter .newsletter-title-mobile {
    text-align: center;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 37.5px;
    margin: 0 2rem;
    display: block;
  }
  .newsletter .form-newsletter .newsletter-title-mobile span {
    color: #00beff;
  }
  .newsletter .form-newsletter h6 {
    margin-top: 0.5rem;
  }
  .newsletter .form-newsletter form {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem 0 2rem;
  }
  .newsletter .form-newsletter form .form-checkbox .newsletter-label-desktop {
    display: none;
  }
  .newsletter .form-newsletter form .form-checkbox .newsletter-label-mobile {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.6px;
    margin-left: 1rem;
    display: block;
  }
  .btn-submit {
    width: 130px;
    margin-top: 0.2rem;
  }
  .newsletter div .water-img {
    width: 100%;
    height: 301px;
    margin-top: 1.3rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .logo-footer {
    margin: 0;
  }
  .footer .logo-footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .footer .logo-footer div h2 {
    font-size: 40px;
  }
}
